In [1]:
import pandas as pd
df=pd.read_csv('dataset/rice_production.csv')

In [2]:
df

      Season  State  Area(hec)  Production(Ton)  Yield(Ton/hector)
0          0      0   607358.0           398311           0.780870
1          1      0   174974.0           209623           1.060435
2          3      0  1743321.0          1647296           0.941304
3          2     42  1031530.0          2340493           2.233500
4          3     42    53889.0           109350           2.073846
...      ...    ...        ...              ...                ...
9995       3     58   100824.0           285614           2.832798
9996       2     56  2812400.0          7005800           2.491040
9997       3      0  1880737.0          3709081           1.972142
9998       2     43    52985.0           128945           2.433613
9999       2     24  3828992.0          5567644           1.454076

[10000 rows x 5 columns]

In [3]:
df.describe()

,Season,State,Area(hec),Production(Ton),Yield(Ton/hector)
count,10000.000000,10000.000000,1.000000e+04,1.000000e+04,10000.000000
mean,1.763000,29.992300,8.059191e+05,1.817894e+06,2.295527
std,0.972279,20.344115,1.246921e+06,2.920696e+06,0.824821
min,0.000000,0.000000,7.000000e+00,6.000000e+00,0.016667
25%,1.000000,10.000000,3.309900e+04,7.848900e+04,1.705382
50%,2.000000,25.000000,2.126800e+05,4.559320e+05,2.282579
75%,2.000000,49.000000,1.185381e+06,2.625100e+06,2.830000
max,4.000000,63.000000,8.629000e+06,1.694800e+07,8.778276

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Season             10000 non-null  int64
 1   State              10000 non-null  int64
 2   Area(hec)          10000 non-null  float64
 3   Production(Ton)    10000 non-null  int64
 4   Yield(Ton/hector)  10000 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 390.8 KB

In [5]:
df.isnull().sum()

Season               0
State                0
Area(hec)            0
Production(Ton)      0
Yield(Ton/hector)    0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
X=df.drop(columns=['Production(Ton)','Yield(Ton/hector)']).values
y=df[['Production(Ton)','Yield(Ton/hector)']].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)
print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(8000, 3)
(2000, 3)
(8000, 2)
(2000, 2)

In [8]:
scaler=StandardScaler()
X_scaled_train=scaler.fit_transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

regs={
    MultiOutputRegressor(SVR(kernel="rbf", C=100, gamma=0.1, epsilon=0.1)),
    KNeighborsRegressor(),
    ExtraTreesRegressor(),
    RandomForestRegressor()
}

for model in regs:
    model_name=model.__class__.__name__
    model.fit(X_scaled_train,y_train)
    pred=model.predict(X_scaled_test)
    r2=r2_score(y_test,pred)
    print("For ",model_name)
    print(r2)

For  RandomForestRegressor
0.9779839312686409
For  MultiOutputRegressor
0.18172711542914055
For  ExtraTreesRegressor
0.9760405572055666
For  KNeighborsRegressor
0.9696596587872703

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
RF_prd=RandomForestRegressor()
RF_prd.fit(X_scaled_train,y_train)
pred=RF_prd.predict(X_scaled_test)
score=r2_score(y_test,pred)
score

0.9778027865567573

In [11]:
import pickle
pickle.dump(RF_prd,open("pkl/RF_production.pkl",'wb'))
pickle.dump(scaler,open("pkl/scalerRF.pkl",'wb'))